manifest {
    name = 'calculate_marker_statistics_for_kronos'
    description = 'Compute per-marker mean and std from COMET OME-TIFFs for KRONOS metadata'
    author = 'WEHI SODA Hub'
    version = '0.1.0'
    mainScript = 'main.nf'
    nextflowVersion = '!>=23.10.0'
}

process {
    executor = 'local'
    cpus = 4
    memory = '16 GB'
    time = '6h'
}

docker.enabled = false
singularity.enabled = false
apptainer.enabled = false
conda.enabled = false

profiles {
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        apptainer.enabled = false
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        singularity.enabled = false
    }

    small {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_heavy' {
                cpus   = { 8 }
                memory = { 64.GB * task.attempt }
                time   = { 12.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

    medium {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_heavy' {
                cpus   = { 16 }
                memory = { 128.GB * task.attempt }
                time   = { 24.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }

    large {
        process {
            executor = 'slurm'
            queue = 'regular'
            withLabel: 'process_heavy' {
                cpus   = { 32 }
                memory = { 256.GB * task.attempt }
                time   = { 24.h }
            }
        }
        executor {
            queueSize = 10
            submitRateLimit = '10 sec'
        }
    }
}
